<!-- 導覽列 -->
<nav class="navbar">
	<div class="navbar-container">
		<a href="{{ '/' | relative_url }}" class="navbar-brand">
			<img src="{{ '/icon/180.png' | relative_url }}" alt="{{ site.app_name }}">
			<span>{{ site.app_name }}</span>
		</a>
		<ul class="navbar-menu">
			<li><a href="{{ '/' | relative_url }}#features">{{ site.nav_labels.features }}</a></li>
			<li><a href="{{ '/' | relative_url }}#screenshots">{{ site.nav_labels.screenshots }}</a></li>
			<li><a href="{{ '/' | relative_url }}#how-to-use">{{ site.nav_labels.how_to_use }}</a></li>
			<li><a href="{{ '/' | relative_url }}#download-section">{{ site.nav_labels.download }}</a></li>
			<li><a href="{{ '/issues' | relative_url }}">{{ site.nav_labels.issues }}</a></li>
			<li><a href="{{ '/' | relative_url }}#sponsor">{{ site.nav_labels.sponsor }}</a></li>
		</ul>
	</div>
</nav>
